*.7z
*.a
*.bat
*.cmd
*.cpu
*.db
*.db-shm
*.db-wal
*.diff
*.dll
*.exe
*.gz
*.lnk
*.log
*.log.*
*.mem
*.node
*.o
*.orig
*.out
*.pprof
*.prof
*.rar
*.so
*.test
*.tz
*.zip
*~
._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
trace.out

/knight*
