# In order to ignore binaries that get built without an extension
# we start by ignoring everything, then whitelisting all files with extensions
# and then finally whitelisting all directories
*
!*.*
!*/

# Generic patterns
*.exe
*.out
*.pprof
*~
